.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 40px;
    margin-left: 40px;
}

.services > :not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.service img {
    max-width: 150px;
    margin-right: 20px;
    border-radius: 8px;
}

.service h2 {
    color: #333;
}

.service p {
    color: #666;
}

.service a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.service a:hover {
    text-decoration: underline;
}